* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.text {
  color: white;
  text-shadow: rgb(188, 182, 182) 0.1em 0.1em 0.2em;
  margin: 25px;
  display: flex;
  justify-content: center;
}

.image-avatar {
  margin-left: 30px;
  margin-top: 10px;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.div-container-contatos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 30px;
}

.links-contatos {
  background-color: rgb(226, 222, 222);
  border-radius: 30px;
  border: rgb(226, 222, 222) solid 2px;
  box-shadow: 6px 6px 4px rgb(206, 203, 203);
  margin: 30px;
}

.links-contatos:hover {
  background-color: rgba(206, 203, 203, 0.75);
  box-shadow: none;
}

.image-logo {
  width: 130px;
  height: 130px;
}