* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-contatos {
  background-image: url(../assets/background2.png);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right;
}

.text {
  color: white;
  margin: 25px;
  display: flex;
  justify-content: center;
}

.div-container-contatos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 30px;
}

.links-contatos {
  background-color: rgb(226, 222, 222);
  border-radius: 30px;
  border: rgb(226, 222, 222) solid 2px;
  box-shadow: 6px 6px 4px rgb(206, 203, 203);
  margin: 30px;
}

.links-contatos:hover {
  background-color: rgba(206, 203, 203, 0.75);
  box-shadow: none;
}

.image-logo {
  width: 130px;
  height: 130px;
}