@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container-main-base {
  background-image: url(../assets/background1.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
}

.div-container-contatos1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.links-contatos {
  margin: 20px;
}

.image-logo {
  width: 50px;
  height: 50px;
  margin-top: 30px;
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  margin-left: 5%;
}

#container-div-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

#text1 {
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  padding: 2px;
}

#text2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 37px;
  padding: 2px;
}

.div-container-redirects {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 3px;
  font-size: 25px;
}

#btn-works {
  color: white;
  margin-left: 30px;
  padding: 5px 60px;
  border-radius: 50px;
  background-color: transparent;
  
}

/* border-color: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0)) padding-box,
    linear-gradient(45deg, slateblue, coral) border-box;
  border: 3px solid transparent;
  border-radius: 50px; */

/* #btn-works:hover {
  background-color: rgb(15, 138, 66);
  color: rgb(3, 219, 94);
  box-shadow: none;
} */

.links-conteudo {
  background-color: rgb(226, 222, 222);
  border-radius: 30px;
  border: rgb(226, 222, 222) solid 2px;
  box-shadow: 6px 6px 4px rgb(206, 203, 203);
  margin: 30px;
}

.links-conteudo:hover {
  background-color: rgba(206, 203, 203, 0.75);
  box-shadow: none;
}

.links-conteudo h2 {
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-shadow: rgb(188, 182, 182) 0.1em 0.1em 0.2em;
  text-decoration: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container-main {
    background-position: top;
  }

  .container-home {
    margin-left: 3%;
  }

  #container-div-main {
    margin-top: 150px;
  }

  #text1 {
    font-size: 23px;
  }

  #text2 {
    font-size: 35px;
  }

  #text3 {
    font-size: 17px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container-main {
    background-position: top;
  }

  .container-home {
    margin-left: 3%;
  }

  #container-div-main {
    margin-top: 200px;
  }

  #text1 {
    font-size: 18px;
  }

  #text2 {
    font-size: 28px;
  }

  #text3 {
    font-size: 14px;
  }

  .links-contatos {
    margin: 15px;
  }

  .image-logo {
    width: 120px;
    height: 120px;
  }

  .image-logo:hover {
    width: 125px;
    height: 125px;
    margin: -3px;
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .container-main {
    background-image: url(../assets/background1.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
  }

  .container-home {
    margin-left: 1%;
  }

  #container-div-main {
    margin-top: 50px;
  }

  #text1 {
    font-size: 13px;
  }

  #text2 {
    font-size: 20px;
  }

  #text3 {
    font-size: 14px;
  }

  .links-contatos {
    margin: 5px;
  }

  .image-logo {
    width: 100px;
    height: 100px;
  }

  .image-logo:hover {
    width: 105px;
    height: 105px;
    margin: -3px;
  }
}