* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-main {
  background-image: url(../assets/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: auto;
}

.image-avatar {
  margin-left: 30px;
  margin-top: 10px;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.text {
  color: white;
  text-shadow: rgb(188, 182, 182) 0.1em 0.1em 0.2em;
  margin: 25px;
  display: flex;
  justify-content: center;
}

.div-container-conteudo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 30px;
}

.links-conteudo {
  background-color: rgb(226, 222, 222);
  border-radius: 30px;
  border: rgb(226, 222, 222) solid 2px;
  box-shadow: 6px 6px 4px rgb(206, 203, 203);
  margin: 30px;
}

.links-conteudo:hover {
  background-color: rgba(206, 203, 203, 0.75);
  box-shadow: none;
}

.links-conteudo h2 {
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-shadow: rgb(188, 182, 182) 0.1em 0.1em 0.2em;
  text-decoration: none;
}

.image-cards {
  border-radius: 30px;
  width: 300px;
  height: 200px;
  text-decoration: none;
}