@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container-main-base {
  background-image: url(../assets/background1.jpeg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  margin-left: 5%;
}

#container-div-main {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}

#text1 {
  font-size: 27px;
  padding: 3px;
}

#text2 {
  font-size: 40px;
  padding: 3px;
}

#text3 {
  font-size: 20px;
  padding: 3px;
}

.div-container-redirects {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 3px;
}

#btn-works {
  border-radius: 40px;
  background-color: rgb(3, 219, 94);
  color: white;
  margin-left: 10px;
  font-weight: 550;
  padding: 12px 20px;
}

#btn-works:hover {
  background-color: rgb(15, 138, 66);
  color: rgb(3, 219, 94);
  box-shadow: none;
}

#btn-aboult {
  border-radius: 40px;
  background-color: rgb(3, 219, 94);
  color: white;
  margin-left: 10px;
  font-weight: 550;
  padding: 12px 20px;
}

#btn-aboult:hover {
  background-color: rgb(15, 138, 66);
  color: rgb(3, 219, 94);
  box-shadow: none;
}

#btn-contacts {
  border-radius: 40px;
  background-color: rgb(3, 219, 94);
  color: white;
  margin-left: 10px;
  font-weight: 550;
  padding: 12px 20px;
}

#btn-contacts:hover {
  background-color: rgb(15, 138, 66);
  color: rgb(3, 219, 94);
  box-shadow: none;
}

.links-conteudo {
  background-color: rgb(226, 222, 222);
  border-radius: 30px;
  border: rgb(226, 222, 222) solid 2px;
  box-shadow: 6px 6px 4px rgb(206, 203, 203);
  margin: 30px;
}

.links-conteudo:hover {
  background-color: rgba(206, 203, 203, 0.75);
  box-shadow: none;
}

.links-conteudo h2 {
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-shadow: rgb(188, 182, 182) 0.1em 0.1em 0.2em;
  text-decoration: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container-main {
    background-position: top;
  }

  .container-home {
    margin-left: 3%;
  }

  #container-div-main {
    margin-top: 150px;
  }

  #text1 {
    font-size: 23px;
  }

  #text2 {
    font-size: 35px;
  }

  #text3 {
    font-size: 17px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container-main {
    background-position: top;
  }

  .container-home {
    margin-left: 3%;
  }

  #container-div-main {
    margin-top: 200px;
  }

  #text1 {
    font-size: 18px;
  }

  #text2 {
    font-size: 28px;
  }

  #text3 {
    font-size: 14px;
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .container-main {
    background-image: url(../assets/background1.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
  }

  .container-home {
    margin-left: 1%;
  }

  #container-div-main {
    margin-top: 50px;
  }

  #text1 {
    font-size: 13px;
  }

  #text2 {
    font-size: 20px;
  }

  #text3 {
    font-size: 14px;
  }
}