* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-aboult {
  background-image: url(../assets/background2.png);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
}

.abolt-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#minha-imagem {
  border-radius: 20%;
  margin-top: 20px;
}

.text {
  color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
}