* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-aboult {
  background-image: url(../assets/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.container-aboult {
  display: flex;
}

.abolt-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-avatar {
  margin-left: 30px;
  margin-top: 10px;
  max-width: 300px;
  max-height: 300px;
}

#minha-imagem {
  border-radius: 20%;
  margin-top: 20px;
}

.text {
  color: white;
  /* text-shadow: rgb(188, 182, 182) 0.1em 0.1em 0.2em; */
  margin: 25px;
  display: flex;
  justify-content: center;
}