* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.image-avatar {
  margin-left: 30px;
  margin-top: 10px;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.text {
  color: white;
  text-shadow: rgb(188, 182, 182) 0.1em 0.1em 0.2em;
  margin: 25px;
  display: flex;
  justify-content: center;
}