* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link-li {
  color: black;
  font-family: sans-serif;
}

.link-li:hover {
  background: rgba(0, 0, 0, 0.05);
}

h3 {
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-shadow: rgb(57, 57, 57) 0.1em 0.1em 0.2em;
}

#header {
  font-size: 30px;
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(226, 222, 222);
}

#menu {
  display: block;
  position: absolute;
  width: 100%;
  top: 70px;
  right: 0px;
  background: rgb(226, 222, 222);
  transition: 0.6s;
  z-index: 1000;
  height: 0px;
  visibility: hidden;
  overflow-y: hidden;
}

.link-li {
  display: block;
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

#nav.active #menu {
  height: calc(100vh - 70px);
  visibility: visible;
  overflow-y: auto;
}

#btn-mobile {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: 0.5rem;
  font-weight: bold;
}

#hamburger {
  border-top: 2px solid;
  width: 20px;
}

#hamburger::after,
#hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

#nav.active #hamburger {
  border-top-color: transparent;
}

#nav.active #hamburger::before {
  transform: rotate(135deg);
}

#nav.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}